header {
  padding: 25px 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 101;

  #mainMenu {
    padding-top: 32px;
    padding-bottom: 14px;
  }

  a .logo {
    display: inline-block;
    float: left;
  }

  nav {
    float: right;

    ul li {
      display: block;
      margin-left: -2px;

      a {
        color: #333;
        transition: all 0.2s;
        padding: 0px 12px;
        display: block;
        margin-left: -3px;
        font-weight: 600;
        font-size: 16px;
        padding-bottom: 18px;
        text-align: left;
      }

      &.active a {
        text-decoration: line-through;

        &::after {
          content: "";
          width: 100%;
          height: 2px;
          display: block;
        }
      }

      a:hover {
        color: #181818;
      }
    }
  }

  .logo {
    display: inline-block;
  }

  #header-info-bar {
    width: 25% !important;
    left: 75% !important;
    background: #fff !important;
    padding: 0px 20px;
    box-shadow: 5px 0px 20px #7d7d7d;
  }
}

#header-info-bar {
  .modal-content {
    border: none;
    position: initial;
  }

  .close-animatedModal {
    padding: 14px;
    position: relative;
    cursor: pointer;

    i {
      position: absolute;
      right: 14px;
      font-size: 24px !important;
      color: #000;
      padding-top: 10px;
    }
  }
}

.header-info-bar-on {
  z-index: 27 !important;
}

.header-info-bar-off {
  visibility: hidden;
}

.header-info-bar-on {
  visibility: visible;
}

#header-info-btn {
  float: right;
  color: #fff;
  font-size: 20px;
  z-index: 3;
  position: relative;
  display: block;
  padding-top: 6px;
  opacity: 1.0;
}

header .modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

#header-info-btn {
  span {
    width: 22px;
    height: 2px;
    background: #fff;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    transition: all 0.3s;
    opacity: 1.0;
  }

  &:hover {
    .top, .bottom {
      width: 12px;
      opacity: 1.0;
    }
  }
}
