// .imgBg #portfolio {
//   background: url(../images/portfolioBg.jpg);
//   background-size: cover;
//   box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
// }

// .vantaBg #portfolio {
//   background: #1e1e1e;
// }

#portfolio {
  background: rgb(71,71,71);
  background: linear-gradient(90deg, rgba(71,71,71,1) 0%, rgba(195,164,0,1) 100%);
}

.portfolio {
  .title-small p {
    &::before {
      content: '';
      width: 32px;
      height: 1px;
      background: #fff;
      position: absolute;
      left: 29px;
      top: 12px;
    }

    &::after {
      content: '';
      width: 32px;
      height: 1px;
      background: #fff;
      position: absolute;
      top: 12px;
      right: 34px;
    }
  }

  .portfolio-content {
    padding-top: 24px;
  }
}

.portfolio-content-head ul li {
  display: inline-block;
  cursor: pointer;
  padding: 10px 4px;
  font-weight: 600;
  color: #fff;
  margin: 0px 16px;
  transition: all 0.2s;
  font-size: 14px;
  padding-top: 0px;

  &:hover {
    color: #ddd;
  }
}

.portfolio {
  .mixitup-control-active {
    color: #fff !important;
    border-bottom: 2px solid #fff;
  }

  .mix {
    display: inline-block;
  }
}

.portfolio-item {
  position: relative;
  margin-bottom: 20px;
}

.portfolio-content-items .row {
  margin-right: 0px;
  margin-left: 0px;
}

.portfolio-img {
  position: relative;
  z-index: 1;
  transition: all 0.5s;
  overflow: hidden;

  img {
    transition: all 0.5s;
    height: auto;
    width: 100%;
  }
}

.portfolio-content-head {
  text-align: center;
  margin-bottom: 56px;
}

.portfolio-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  text-align: center;
  visibility: hidden;
  transition: all 0.5s;
  overflow: hidden;
}

.portfolio-item:hover .portfolio-overlay {
  visibility: visible;
}

.overlay-content {
  position: relative;
  height: 100%;
}

.portfolio .overlay-content-item {
  position: absolute;
  left: 0;
  right: 0;
  top: -100px;
  transition: all 0.5s;
  opacity: 0;
}

.portfolio-item:hover .overlay-content-item {
  top: 13%;
  opacity: 1;
}

.portfolio-overlay {
  .category {
    font-size: 12px;
    color: #ddd;
    font-weight: 600;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;
  }

  .magnify-icon {
    height: 150px;
    width: 40px;
    margin: 0 5px;
    display: inline-block;
    transition: all 0.25s;
    position: relative;
  }
}

.portfolio .magnify-icon p {
  background: #ddd;
  z-index: 10;
  height: 40px;
  width: 40px;
}

.portfolio-overlay .magnify-icon p {
  &:hover {
    background: #c3a400;
  }

  span i {
    font-size: 15px;
    color: #fff;
    line-height: 40px;
  }
}
