// .imgBg .resume {
//   // background: url("../images/resumeBg.jpg");
//   background: rgb(71,71,71);
//   background: linear-gradient(90deg, rgba(71,71,71,1) 0%, rgba(195,164,0,1) 100%);
//   background-size: cover;
//   box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
// }

// .vantaBg .resume {
//   background: #474747;
// }

#resume {
  background: rgb(71,71,71);
  background: linear-gradient(90deg, rgba(71,71,71,1) 0%, rgba(195,164,0,1) 100%);
}

.resume {
  .title-small p {
    &::before {
      content: '';
      width: 32px;
      height: 1px;
      background: #fff;
      position: absolute;
      left: 45px;
      top: 12px;
    }

    &::after {
      content: '';
      width: 32px;
      height: 1px;
      background: #fff;
      position: absolute;
      top: 12px;
      right: 47px;
    }
  }

  .resume-content {
    padding: 0 20px;
  }
}

.resume-header {
  padding-bottom: 16px;
}

.education, .experience {
  border-left: 1px solid #999;
  padding-top: 20px;
  margin-top: 20px;
}

.resume-item {
  margin-bottom: 24px;
  margin-left: 20px;
  position: relative;

  &::before {
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    position: absolute;
    left: -27px;
    border-radius: 20px;
    top: 6px;
  }
}

.res-title {
  font-weight: 700;
  font-size: 16px;
  padding: 5px 0px;
}

.res-year {
  background: #fff;
  width: 100px;
  text-align: center;
  color: #000;
  padding: 2px 0px;
  margin-bottom: 6px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;

  &::before {
    content: '';
    width: 38px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 12px;
    left: -25px;
  }
}

