#service {
  max-width: 100%;
  height: auto;
  background: rgb(195,164,0);
  background: linear-gradient(90deg, rgba(195,164,0,1) 0%, rgba(71,71,71,1) 100%);
  text-align: center;
  color: #3f3f3f;
}

.service {
  .title-small p {
    &::before {
      content: '';
      width: 32px;
      height: 1px;
      background: #fff;
      position: absolute;
      left: 40px;
      top: 12px;
    }

    &::after {
      content: '';
      width: 32px;
      height: 1px;
      background: #fff;
      position: absolute;
      top: 12px;
      right: 41px;
    }
  }

  .service-content {
    padding: 0 20px;
  }
}

.service-header {
  padding-bottom: 16px;
}

.section-title {
  font-family: "Martel", sans-serif;
}

.service .service-content {
  span i {
    font-size: 22px;
    color: #000;
    border: 2px solid #898989;
    background: transparent;
    border-radius: 31px;
    width: 56px;
    height: 56px;
    line-height: 53px;
    transition: all 0.5s;
  }

  .content-title {
    font-size: 18px;
    margin-top: 28px;
    margin-bottom: 12px;
    color: #333;
    font-weight: 700;
  }
}

.service-item {
  padding-bottom: 40px;
  transition: all 0.5s;
  padding-top: 56px;
  margin-top: 14px;
  background: #fff;
  padding-left: 28px;
  padding-right: 28px;
  transition: all 0.5s;
  margin-bottom: 20px;

  &:hover span i {
    color: #fff;
    border: 2px solid #000;
    background: #3f3f3f;
  }
}
