#work {
  max-width: 100vw;
  background: rgb(71,71,71);
  background: linear-gradient(90deg, rgba(71,71,71,1) 0%, rgba(195,164,0,1) 100%);
}

.imgBg .work {
  background: '';
  background-size: cover;
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}

.work .title-small p {
  &::before {
    content: '';
    width: 32px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 13px;
    top: 12px;
  }

  &::after {
    content: '';
    width: 32px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 12px;
    right: 16px;
  }
}

.work-header {
  margin-bottom: 16px;
}

.work .work-content {
  padding-top: 28px;
}

.work-title {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.work-item {
  max-width: 100%;
  max-width: 420px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.6);
  padding: 16px;

  p {
    color: #dedede;
    margin-top: 4px;
  }
}

.work-arrow {
  width: 1px;
  height: 34px;
  border-left: 1px solid #fff;
  margin: 0 auto;
  position: relative;
  margin-bottom: 2px;

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    bottom: -1px;
    left: -7px;
  }
}

.work {
  .mfp-preloader {
    width: 30px;
    height: 30px;
    background-color: #fff;
    opacity: 0.6;
    margin: 0 auto;
    animation: rotateplane 1.2s ease-in-out infinite;
  }

  .video {
    text-align: center;
    color: #e7e7e7;
  }

  .video-area {
    img {
      width: 450px;
      max-width: 100%;
      padding: 0;
      background-repeat: no-repeat;
    }

    span i {
      font-size: 32px;
      color: #fefefe;
      line-height: 47px;
      text-align: center;
      padding-left: 7px;
    }

    .video-icon {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      margin: 0 auto;
      margin-bottom: 28px;
      background: #686868;
      border: 7px solid rgba(29, 29, 29, 0.2);
    }

    h5 {
      color: #e7e7e7;
      padding-top: 7px;
      font-weight: 500;
    }
  }
}
