---
title: "Taichi Tomioka's portfolio"
---

header
  = partial "home/navbar-en"

= partial "home/welcome"

= partial "home/about-en"

= partial "home/service-en"

= partial "home/resume-en"

= partial "home/portfolio"

= partial "home/work-en"

= partial "home/contact"
