---
title: "Taichi Tomioka's portfolio"
---

header
  = partial "home/navbar"

= partial "home/welcome"

= partial "home/about"

= partial "home/service"

= partial "home/resume"

= partial "home/portfolio"

= partial "home/work"

= partial "home/contact"
